body {
	font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT",
		sans-serif;
	background-color: #f5f7fb;
	overflow: hidden;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: move;
	user-select: none;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.recenter {
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
}

input {
	border: none;
	outline: none;
	text-align: center;
	background: transparent;
}

#categories {
	background-color: #fff !important;
	border-style: dashed;
}

.parent {
	background-color: #ffa376;
}
.sub {
	background-color: blue;
	color: #fff;
	font-weight: 600;
}

.tree,
.tree ul,
.tree li {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.tree {
	margin: 0 0 1em;
	text-align: center;
}
.tree,
.tree ul {
	display: table;
}
.tree ul {
	width: 100%;
}
.tree li {
	display: table-cell;
	padding: 0.5em 0;
	vertical-align: top;
}
.tree li:before {
	outline: solid 1px #c8d0da;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.tree li:first-child:before {
	left: 50%;
}
.tree li:last-child:before {
	right: 50%;
}

.tree .category {
	border: 1px solid #c8d0da;
	border-radius: 0.4em;
	display: inline-block;
	margin: 0 6.2em 0.5em;
	padding: 0.5em 1.4em;
	position: relative;
}

.tree ul:before,
.tree .category:before {
	outline: solid 1px #c8d0da;
	content: "";
	height: 0.5em;
	left: 50%;
	position: absolute;
}
.tree ul:before {
	top: -0.5em;
}
.tree .category:before {
	top: -0.55em;
}

.tree > li {
	margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > .category:before {
	outline: none;
}
